@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-50: 240 244 255;
    --brand-300: 152 172 253;
    --brand-400: 116 143 252;
    --brand-500: 79 110 247;
    --brand-600: 58 86 212;
    --brand-700: 45 67 176;
  }

  body {
    @apply bg-gray-950 text-gray-100 min-h-screen;
  }
}
